html, body {
  font-family: "Courier New";
  background-color: black;
  color: white;
}

h1 {
  font-size: 32pt;
}

.footer {
  font-size: 5pt;
  background-color: white;
  color: black;
}

a:link {
  color: #48addb;
}

a:visited {
  color: #d620e3;
}

pre {
  font-size: 15pt;
}
