html, body {
  font-family: "Courier New";
  background-color: black;
  color: white;
}

h1 {
  font-size: 32pt;
}

h5 {
  color: #ff5555;
}

footer {
  font-size: 8pt;
  background-color: dark-gray;
  color: white;
}

a:link {
  color: #48addb;
}

a:visited {
  color: #d620e3;
}

pre {
  font-size: 15pt;
}

input[type="text"],
textarea {
  background-color: black;
  color: white;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 4px;
}

button {
  background-color: black;
  color: white;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 4px 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #555;
  transition: width 0.3s ease-in-out;
  z-index: -1;
}

button:hover::before {
  width: 100%;
}
